*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:  #994D1C;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    background-color: #F5CCA0;
    width: 100px;
    height: 80px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 3px;
}
.btn:focus{
    outline: none;
}

.btn:hover{
    opacity: 0.9;
}